.button {
    background-color: var(--avena-button-background-color);
    color: var(--avena-button-text-color);
    cursor: pointer;
    border: var(--avena-button-border);
    border-radius: var(--avena-button-border-radius);
    box-shadow: var(--avena-button-shadow);
    font: var(--avena-font-m-medium);
    outline: none;
    padding: 12px 24px;
    transition: all var(--avena-transition);

    &:disabled {
        background-color: var(--avena-button-background-color-disabled);
        color: var(--avena-button-text-color-disabled);
    }
}
