:root {
    --avena-font-family: Inter;

    --avena-font-xxs-regular: 400 10px/15px var(--avena-font-family);
    --avena-font-xxs-medium: 500 10px/15px var(--avena-font-family);
    --avena-font-xxs-semibold: 600 10px/15px var(--avena-font-family);
    --avena-font-xxs-bold: 700 10px/15px var(--avena-font-family);

    --avena-font-xs-regular: 400 12px/18px var(--avena-font-family);
    --avena-font-xs-medium: 500 12px/18px var(--avena-font-family);
    --avena-font-xs-semibold: 600 12px/18px var(--avena-font-family);
    --avena-font-xs-bold: 700 12px/18px var(--avena-font-family);

    --avena-font-s-regular: 400 14px/21px var(--avena-font-family);
    --avena-font-s-medium: 500 14px/21px var(--avena-font-family);
    --avena-font-s-semibold: 600 14px/21px var(--avena-font-family);
    --avena-font-s-bold: 700 14px/21px var(--avena-font-family);

    --avena-font-m-regular: 400 16px/24px var(--avena-font-family);
    --avena-font-m-medium: 500 16px/24px var(--avena-font-family);
    --avena-font-m-semibold: 600 16px/24px var(--avena-font-family);
    --avena-font-m-bold: 700 16px/24px var(--avena-font-family);

    --avena-font-l-regular: 400 18px/27px var(--avena-font-family);
    --avena-font-l-medium: 500 18px/27px var(--avena-font-family);
    --avena-font-l-semibold: 600 18px/27px var(--avena-font-family);
    --avena-font-l-bold: 700 18px/27px var(--avena-font-family);

    --avena-font-xl-regular: 400 20px/30px var(--avena-font-family);
    --avena-font-xl-medium: 500 20px/30px var(--avena-font-family);
    --avena-font-xl-semibold: 600 20px/30px var(--avena-font-family);
    --avena-font-xl-bold: 700 20px/30px var(--avena-font-family);

    --avena-font-xxl-regular: 400 24px/36px var(--avena-font-family);
    --avena-font-xxl-medium: 500 24px/36px var(--avena-font-family);
    --avena-font-xxl-semibold: 600 24px/36px var(--avena-font-family);
    --avena-font-xxl-bold: 700 24px/36px var(--avena-font-family);

    // text colors
    --avena-text-color-primary: #404040;
    --avena-text-color-secondary: #707070;
    --avena-text-color-tertiary: #a0a0a0;
    --avena-text-color-quaternary: #d0d0d0;
    
    --avena-text-color-link: #0066cc;
    --avena-text-color-disabled: #B5B8BB;
    --avena-text-color-icons: #7C7B7B;
    --avena-text-color-stroke: #D7D7D7;
    --avena-text-color-dividers: #EFF2F5;
    --avena-text-color-disabled-bg: #F2F6F9;
    --avena-text-color-white: #FFFFFF;
    
    // accent colors
    --avena-accent-color-primary: #002F5E;
    --avena-accent-color-secondary: #004F9D;
    --avena-accent-color-tertiary: #0066CC;
    --avena-accent-color-quaternary: #0080FF;

    --avena-accent-color-bg: #EFF7FF;
    --avena-accent-color-hover-state: #369BFF;
    --avena-accent-color-click-state: #014992;
    
    // gradients
    --avena-gradient-color-primary: linear-gradient(267.67deg, #597EF7 7.9%, #CA61A2 112.59%);
    --avena-gradient-color-secondary: linear-gradient(255.33deg, #0066CC -9%, #02C58A 157.39%);
    --avena-gradient-color-tertiary: linear-gradient(267.55deg, #1890FF 58.86%, #012D84 139.54%);
    
    // system colors
    --avena-system-color-successful-hover: #28B411;
    --avena-system-color-successful-primary: #3AC922;
    --avena-system-color-successful-secondary: #B2FFA6;
    --avena-system-color-successful-tertiary: #E6FFE2;

    --avena-system-color-attention-text: #AD8B00;
    --avena-system-color-attention-hover: #F7D523;
    --avena-system-color-attention-primary: #F7D523;
    --avena-system-color-attention-secondary: #FFEF98;
    --avena-system-color-attention-tertiary: #FFFAE1;
    
    --avena-system-color-error-hover: #ED2121;
    --avena-system-color-error-primary: #FF3030;
    --avena-system-color-error-secondary: #FFC0C0;
    --avena-system-color-error-tertiary: #FFF2F2;

    // animations
    --avena-transition: 0.25s;

    // buttons
    --avena-button-background-color: #0066cc;
    --avena-button-background-color-disabled: #f9fbfd;
    --avena-button-border: none;
    --avena-button-border-radius: 4px;
    --avena-button-shadow: 0px 1px 1px #c4c4c4;
    --avena-button-text-color: #ffffff;
    --avena-button-text-color-disabled: #a0a0a0;
    --avena-button-padding-lg: 12px 32px;
    --avena-button-padding-md: 8.5px 21px;
    --avena-button-padding-sm: 6px 16px;

    // cards
    --avena-card-background-color: #ffffff;
    --avena-card-border: none;
    --avena-card-border-radius: 8px;
    --avena-card-shadow: 0px 2px 2px #c4c4c4;

    // inputs
    --avena-input-background-color: #f9fbfd;
    --avena-input-background-color-disabled: #f9fbfd;
    --avena-input-border: none;
    --avena-input-border-radius: 4px;
    --avena-input-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

    --avena-input-border-focus: none;
    --avena-input-shadow-focus: 0px 1px 1px rgba(21, 125, 227, 0.4);

    // spacing
    --avena-spacing-xs: 2px;
    --avena-spacing-sm: 4px;
    --avena-spacing-md: 8px;
    --avena-spacing-lg: 16px;
    --avena-spacing-xl: 32px;

    // z-index
    --avena-overlay-z-index: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.5em;
}
